*{
    margin: 0%;
    padding: 0%;
}

.top-head{
    background-color: black;
}

.top-head ul{
    display: flex;
    padding: 10px;
    list-style-type: none;
    margin-left: 30px;
}

.top-head li{
    margin: 5px;
    color: rgb(150, 147, 147);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.top-head li:hover{
    color: red;
}

.bottem-head{
    background-color: rgb(31, 31, 228);
    display: flex;
    color: white;
}

.bottem-head .bottem-head-icon{
    width: 70px;
    height: 60px;
    padding: 5px;
}

.bottem-head pre{
    font-size: 20px;
    padding:5px;
    font-family:cursive;
}

.bottem-head h3{
    padding: 10px;
    margin-top: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.7;
    cursor: pointer;
}

.bottem-head h3:hover{
    opacity: 1;
}

.bottem-search-icon{
    width: 30px;
    height: 30px;
    padding: 15px;
    margin-left: 225px;
    margin-top: 7px;
}

/* finished header styles */

.main-body-div{
    padding: 40px;
    background-color: rgb(206, 206, 206);
}

.top-img-div{
    width: 100%;
    height: 500px;
    padding: 10px;
    display: flex;
}

.left-section,.right-section{
    width: 50%;
}

.left-section{
    height: 100%;
    background-image: url(https://shorturl.at/gav1K);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.8;
}


.right-section{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.right-sec-top{
    height: 230px;
    width: 100%;
    background-image: url(https://shorturl.at/1qvwB);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    opacity: 0.8;
}

.right-sec-bottem{
    height: 230px;
    width: 100%;
    display: flex;  
}

.right-sec-bottem-1{
    width:50%;
    height: 250px;
    background-image: url(https://loremflickr.com/260/210/hockey);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.8;
}

.right-sec-bottem-2{
    width: 50%;
    height: 250px;
    background-image: url(https://loremflickr.com/260/210/football);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-right: 10px;
    opacity: 0.8;
}

.left-section h1{
    color: rgba(0, 0, 0,0.9);
    float: right;
    position: relative;
    top: 90%;
    right: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left-section:hover{
    opacity: 1;
}

.right-sec-top h2{
    color: rgba(0, 0, 0,0.9);
    position: relative;
    top:85%;
    left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.right-sec-top:hover{
    opacity: 1;
}

.right-sec-bottem-1 h3{
    color: rgba(0, 0, 0,0.9);
    position: relative;
    top:80%;
    left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right-sec-bottem-1:hover{
    opacity: 1;
}

.right-sec-bottem-2 h3{
    color: rgba(0, 0, 0,0.9);
    position: relative;
    top:85%;
    left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right-sec-bottem-2:hover{
    opacity: 1;
}

.news-div{
    display: flex;
}

.news-img{
    width: 75%;
    height: 700px;
    background-color: white;
    margin: 20px; 
}

.news-text{
    width: 25%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border: 1px white sol;
}

.news-img-top{
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.news-img img{
    width: 100%;
    height: 100%;
}

.news-img-bottem h2{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.news-img-bottem p{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.news-img-bottem h2:hover{
    color: rgba(255, 0, 0, 0.747);
}

.news-text-top{
    display: flex;
}

.news-text-top h3{
    opacity: 0.8;
    font-size: 20px;
    font-weight: 100;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:15px;
}

.news-text-top h3:hover{
    display: inline-block;
    border-bottom: 3px solid rgb(0, 0, 0);
}