*{
    margin: 0%;
    padding: 0%;
}

.top-head{
    background-color: black;
}

.top-head ul{
    display: flex;
    padding: 10px;
    list-style-type: none;
    margin-left: 30px;
}

.top-head li{
    margin: 5px;
    color: rgb(150, 147, 147);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.top-head li:hover{
    color: red;
}

.bottem-head{
    background-color: rgb(31, 31, 228);
    display: flex;
    color: white;
}

.bottem-head .bottem-head-icon{
    width: 70px;
    height: 60px;
    padding: 5px;
}

.bottem-head pre{
    font-size: 20px;
    padding:5px;
    font-family:cursive;
}

.bottem-head h3{
    padding: 10px;
    margin-top: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bottem-search-icon{
    width: 30px;
    height: 30px;
    padding: 15px;
    margin-left: 225px;
    margin-top: 7px;
}

/* finished header styles */

.main-body-div{
    padding: 40px;
    background-color: rgb(206, 206, 206);
}

.top-img-div{
    width: 100%;
    height: 500px;
    padding: 10px;
    display: flex;
}

.left-section,.right-section{
    width: 50%;
}

.left-section{
    height: 100%;
    background-image: url(https://shorturl.at/gav1K);
    background-repeat: no-repeat;
    background-size: cover;
}

.right-section{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.right-sec-top{
    height: 230px;
    width: 100%;
    background-image: url(https://shorturl.at/1qvwB);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

.right-sec-bottem{
    height: 230px;
    width: 100%;
    display: flex;  
}

.right-sec-bottem-1{
    width:50%;
    height: 250px;
    background-image: url(https://picsum.photos/id/237/260/210);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

.right-sec-bottem-2{
    width: 50%;
    height: 250px;
    background-image: url(https://picsum.photos/id/240/260/210);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-right: 10px;
}